---
import SocialList from "../ui/SocialList.astro"
import CTAButtons from "../ui/CTAButtons.astro"
---

<section id="hero" class="-translate-x-10 opacity-0 h-screen w-full pt-28 md:pt-32">
  <article>
    <h1 class="w-[60%] font-header mb-4 my-4 font-bold text-4xl text-heading-color leading-tight">
      Adrian Rangel. <br> Software Developer and web designer.
    </h1>
    <p class="font-display leading-6 w-[50%]">
      Frontend web developer with a passion for Open Source. Experienced in developing software, with a human and engaging approach, and currently focused on developing new products and supporting the open-source community.
    </p>

    <CTAButtons />
  </article>
    
  <SocialList />
</section>

<script>
  import { inView, animate } from "motion"

  inView('#hero', (info) => {
    animate(
      info.target, 
      { opacity: 1, transform: "translateX(0)" },
      { duration: 0.8 }
    )
  })
</script>