---
import SocialList from "../ui/SocialList.astro"
import CTAButtons from "../ui/CTAButtons.astro"
---

<section class="w-full px-12 pt-28 md:pt-32">
  <article>
    <span class="font-display text-purple-700 font-bold text-normal">Hi, my name is</span>
    <h1 class="w-[60%] font-header mb-4 my-6 font-bold text-4xl text-heading-color leading-tight">
      Adrian Rangel. <br> Software Developer and web designer.
    </h1>
    <p class="font-display leading-6 w-[50%]">
      Frontend web developer with a passion for Open Source. Experienced in developing software, with a human and engaging approach, and currently focused on developing new products and supporting the open-source community.
    </p>

    <CTAButtons />
  </article>
    
  <SocialList />
</section>