---
import Layout from '../layouts/Layout.astro';
import Header from '../components/navigation/Header.astro';
import Hero from '../components/layout/Hero.astro';
import Main from '../components/layout/Main.astro';
---

<Layout title="Adrian Rangel">
	<div class="max-w-7xl px-16 mx-auto min-h-screen">
		<Header />
		<Hero />
		<Main />
	</div>
</Layout>
