---
import Download from "../../icons/Download.astro"
import Email from '../../icons/Email.astro'
---

<section class=" mt-6 join">
  <a class="btn join-item" href="/src/docs/text.txt" download="text.txt">
    <Download />
    Download CV
  </a>
  <a href="/contact" class="btn join-item">
    <Email />
    Contact Me
  </a>
</section>